@{
    Layout = "_GovUkPageTemplate";
}

@section Head {
    @Html.GovUkFrontendStyleImports()
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

@section GovUkHeader {
    <header class="govuk-header" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="#" class="govuk-header__link govuk-header__link--homepage">
                    <img src="~/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
                </a>
            </div>
        </div>
    </header>
}

@section GovUkServiceNavigation {
    <govuk-service-navigation service-name="School Account Alpha" service-url="#">
        <govuk-service-navigation-nav>
            @if (User.Identity?.IsAuthenticated == true)
            {
                <govuk-service-navigation-nav-item asp-controller="Home" asp-action="Organisations">Organisations</govuk-service-navigation-nav-item>
                <govuk-service-navigation-nav-item asp-controller="Content" asp-action="Latest">Latest Guidance</govuk-service-navigation-nav-item>
                <govuk-service-navigation-nav-item asp-controller="Content" asp-action="Search">Search Guidance</govuk-service-navigation-nav-item>
                <govuk-service-navigation-nav-item asp-controller="Home" asp-action="Logout">Logout</govuk-service-navigation-nav-item>
            }
        </govuk-service-navigation-nav>
    </govuk-service-navigation>
}

@RenderBody()

@section GovUkFooter {
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <govuk-footer-meta-item href="#">Cookie Policy</govuk-footer-meta-item>
            </govuk-footer-meta-items>
        </govuk-footer-meta>
        <govuk-footer-content-licence />
        <govuk-footer-copyright />
    </govuk-footer>
}