<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSourceMapping>
		<packageSource key="local">
			<package pattern="GovUk.Frontend.AspNetCore" />
		</packageSource>
	</packageSourceMapping>
	<config>
		<add key="globalPackagesFolder" value="./package_cache" />
	</config>
</configuration>