@model SchoolAccount.Alpha.ViewModels.ContentViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.PageTitle</h1>

        <form method="get" action="@Url.Action("SearchResults", "Content")" novalidate>
            <div class="govuk-form-group">
                <label class="govuk-label" for="query">
                    Search DfE Guidance
                </label>
                <div class="govuk-hint" id="query-hint">
                    Enter keywords to search for relevant guidance documents
                </div>
                <input class="govuk-input" id="query" name="query" type="text" aria-describedby="query-hint">
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Search
            </button>
        </form>
    </div>
</div>
